# =========================
# Java / Maven
# =========================
target/
**/target/
*.class

# =========================
# Environment / Secrets
# =========================
.env
.env.*
!.env.example

# =========================
# IDE
# =========================
.idea/
*.iml
.vscode/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# Node.js
# =========================
node_modules/
dist/
.angular/

# =========================
# Project-specific
# =========================
reclamations-node-service/
compile-reclamations.bat